@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
img{max-width: 100%;vertical-align: bottom;}
a{text-decoration: none;}
h1{text-align: center;
    margin: 40px 0;}
.columm-wrapper{width: 90%;
                margin: 0 auto 100px;
            gap: 20px;
            columns: 4;
            }

.box{break-inside: avoid;/* 文字のカラム落ちを防ぐ,要素内の開業を防ぐ */
    background-color: #d5faab;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;}




.photo{margin-bottom: 16px;}

.photo img{border-radius: 10px;}

.txt{line-height: 1.6;}

#more-btn{display: none;
           
        }

/* 960以下は３カラム */
@media(max-width:960px){
.columm-wrapper{width: 96%;
                columns: 3;
                gap: 20px;}}

/* 640以下は2カラム */
@media(max-width:640px){
        .columm-wrapper{columns: 2;
                        gap: 16px;}
        .box{padding: 10px;
            margin-bottom: 16px; }

        .box:nth-of-type(n+9){display: none;}



        #more-btn{display: block;margin-bottom: 50px;}
        /* スニペット */
        .button01 a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 1em 2em;
            width: 300px;
            color: #333;
            font-size: 18px;
            font-weight: 700;
            background-color: #d4f55c;
            transition: 0.3s;
          }
          
          .button01 a::after {
            content: '';
            width: 5px;
            height: 5px;
            border-top: 3px solid #333333;
            border-right: 3px solid #333333;
            transform: rotate(45deg);
          }
          
          .button01 a:hover {
            text-decoration: none;
            background-color: #bbbbbb;
          }        
}
